.btn {
	padding: 0;
	width: 358px;
	min-height: 50px;
	border: none;
	border-radius: 2px;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	cursor: pointer;
	transition: opacity .3s;
}

.btn:hover {
	opacity: .85;
}

@media screen and (max-width: 767px) {
	.btn {
		width: 238px;
		min-height: 46px;
		font-size: 14px;
		line-height: 17px;
	}
}
