.profile__avatar-overlay {
	background-color: rgba(0, 0, 0, 0.8);
	width: 120px;
	height: 120px;
	position: absolute;
	cursor: pointer;
	border-radius: 50%;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity .3s;
}

.profile__avatar-overlay:hover {
	opacity: 1;
}
