.header {
	margin: 0 auto;
	margin-bottom: 40px;
	min-height: 74px;
	max-width: 880px;
	border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 767px) {
	.header {
		min-height: 56px;
		margin-bottom: 42px;
	}
}
